* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  /* border: 2px solid red; */
  padding: 20px;
}
#nav-child1 {
  display: flex;
}
#nav-child1 h4 {
  border: 1.5px solid black;
  padding: 4px 7px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
#nav-child1 i {
  border: 1.5px solid black;
  padding: 2px 5px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
}
#nav-child2 {
  display: flex;
}
#nav-child2 h4 {
  font-size: 20px;
  letter-spacing: -1px;
  font-weight: 500;
}
#nav-child2 img {
  height: 20px;
  width: 20px;
  margin: 5px 5px 0px 0px;
}
.button {
  border: 1.5px solid black;
  text-decoration: none;
  color: black;
  padding: 3px 7px 6px 7px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 500;
}
.signIn{
  background-color: orangered;
  color: white;
  border: none;
}
h1 {
  /* border: 2px solid red; */
  width: 100%;
  font-size: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: -4px;
  text-align: center;
  font-weight: 400;
}
.card {
  width: 300px;
  height: 350px;
  /* border: 1px solid aqua; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  object-fit: cover;
  object-position: top;
}
#card1 {
  background-color: antiquewhite;
  transform: translate(-50%, -50%) rotate(-30deg);
}
#card2 {
  background-color: aqua;
  transform: translate(-50%, -50%) rotate(-20deg);
}
#card3 {
  background-color: pink;
  transform: translate(-50%, -50%) rotate(-10deg);
}
.bottom {
  position: absolute;
  /* border: 2px solid red; */
 display: flex;
 align-items: center;
 justify-content: space-between;
 top: 90%;
 width: 100%;
 padding: 5px 30px;
 font-weight: 500;
}
.foot-text{
  font-size: 10px;
}
.social i{
  margin-left: 10px;

}
.ri-facebook-line{
  border: 1.5px solid black;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px;
}
